h1{
   font-style: oblique;
}

h2{
   font-style: oblique;
}


div.a {
   float: left;
   font-size: larger;
   background-color: rgb(90, 149, 216);
   width: 650px;
   height: 600px;
   border: 15px;
   padding: 50px;
}

p{
   font-style: oblique;
}

div.b {
   float: right;
   font-size: larger;
   background-color: rgb(168, 115, 152);
   width: 650px;
   height: 600px;
   border: 15px;
   padding: 50px;
}

body{
   text-align: center;
}

p.cr{
   text-align: center;
   font-family: 'Times New Roman';
   font-size: 20;
}

p.tm{
   text-align: center;
   font-family: 'Times New Roman';
   font-size: 20;
}

div.mapouter{
   position: relative;
}