
/*
h4{
    text-align: center;
    text-decoration: rgb(45, 153, 172);
    
}
.main-nav{
    display: inline-flex; 
    list-style-type: none;
    justify-content: space-between;

}
.main-nav li {
    justify-content: space-between;
    margin: 1rem;
}

h4.us{
    text-align: right;

}

h2{
    text-align: center;
    text-decoration-color: rgb(136, 255, 0);
}

form.form{
    text-align: right;
}

input.input-btn{
    text-align: left;
}

footer{
    position: absolute;
    
}
img.detail{
    text-align: left;
}
*/