:root{
    --primary:hsla(245,97%,63%,0.65);
    --secondary:hsla(30,89%,49%,0.65);
}
h1{
    padding-top: 150px;
    color: aliceblue;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub{
    height: 297px;
}

.sub:hover{
    transform: scale(1.1);
}
.header{
    height: 300px;
    margin-bottom: 20px;
    background: linear-gradient(135deg,var(--primary),var(--secondary)), url('hed.jpg') no-repeat center center / cover;
}
.pp{
    height: 297px;
}